:8080 {
    reverse_proxy http://anubis:8080
}

:8081 {
    @honeypot expression path_regexp('/sicily/*') || path_regexp('/asia/*')
    
    handle @honeypot {
        reverse_proxy http://iocaine:42069
    }

    handle_path /robots.txt {
        root * /etc/caddy
        file_server
    }

    handle {
        reverse_proxy http://example:80
    }
}