[server]
bind = "0.0.0.0:42069"

[sources]
words = "{{ words }}"
markov = [{% for file in corpus %}
    "{{ file }}" {%- if not loop.last -%} , {% endif %} {%- endfor %}
]

{% if config.metrics.enabled -%}
[metrics]
enable = true
bind = "0.0.0.0:42042"
{% endif %}