[server]
bind = "{{ env.binds.iocaine }}"
unix_listen_access = "everybody"

[sources]
words = "{{ words }}"
markov = [{% for file in corpus %}
    "{{ file }}" {%- if not loop.last -%} , {% endif %} {%- endfor %}
]

{% if config.metrics.enabled -%}
[metrics]
enable = true
bind = "{{ env.binds.metrics.iocaine }}"
{% endif %}