global:
  scrape_interval: 15s

# scrape endpoints for our services
scrape_configs:
  - job_name: 'anubis'
    static_configs:
      - targets: ['{{ config.endpoints.metrics.anubis }}']
  - job_name: 'iocaine'
    static_configs:
      - targets: ['{{ config.endpoints.metrics.iocaine }}']